<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 no-underline db">
		<h1>Ben Pritchard</h1>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/paintings" class="pa3 no-underline">Painting</a></li>

		<li><a href="/drawings" class="pa3 no-underline">Drawing</a></li>

		<li><a href="/about" class="pa3 no-underline">About</a></li>

		<li><a href="/contact" class="pa3 no-underline">Contact</a></li>
	</ul>

</nav>
